@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <div><input type="number" name="OperandFirst" /></div>
    <div><input type="number" name="OperandSecond" /></div>
    <div>
        <input id="add" type="radio" name="operation" value="Addition" />Addition
    </div>

    <div>
        <input id="sub" type="radio" name="operation" value="Subtraction" />Subtraction
    </div>
    <div>
        <input id="div" type="radio" name="operation" value="Division" />Division
    </div>
    <div>
        <input id="mul" type="radio" name="operation" value="Multiplication" />Multiplication
    </div>
            
    <div><input type="submit" /></div>


</form>

|@if (ViewData["result"]!= null)
{ 
        <output id="result">@ViewData["result"]</output>
}
